<p>Estimad@ paciente: <b>{{nombre_paciente}}</b></p>
<p>Le saludamos del Hospital Santamaria, para notificarle que, debido a un impedimento médico, su cita medica del día <b>{{fecha1}}</b> fue reagendada para:</p>
<p>El dia: <b>{{fecha}}</b></p>
<p>Hora: <b>{{hora}}</b></p>
<p>Turno: <b>{{valor2}}</b></p>
<p>Especialidad: <b>{{espec}}</b></p>
<p>{{tipo_agenda}}.</p>
<p>Agradecemos su comprensión y quedamos a su disposición para cualquier consulta adicional, escriba al numero 0980892296 de nuestro asistente virtual SANTI,</p>
<p>Atentamente,</p>
<p>Servicio al Paciente</p>
<p>Celular 0981764904</p>