<p>Estimad@ paciente: <strong>{{nombre_paciente}}</strong></p>
<p>Le saludamos del Hospital Santamaria, para recordarle su cita:</p>
<p>El dia: <strong>{{fecha}}</strong></p>
<p>Hora: <strong>{{hora}}</strong></p>
<p>Turno: <strong>{{valor2}}</strong></p>
<p>Especialidad: <strong>{{espec}}</strong></p>
<p><strong>{{tipo_agenda}}</strong>.</p>
<p>Nota: <strong>{{nota}}</strong></p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero 0980892296 de nuestro asistente virtual SANTI.</p>
<p>Atentamente,</p>
<p>Servicio al Paciente</p>
<p>Celular 0981764904</p>